@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 1.7;
    background-color: #fff;
    /* color: #fff; */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 15px 50px;
    gap: 30px;
    background-color: #F5F5F5;
}

.logo img{
    height: 70px;
    width: 70px;
}

header .nav .navIcon img{
    height: 30px;
    width: 30px;
}

.navIcon{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.search input{
    width: 350px;
    height: 45px;
    border-radius: 5px;
    padding-left: 15px;
    border: none;
}

.search button{
    width: 80px;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: #46bfefce;
}

.nav a{
    text-decoration: none;
    color: #083E54;
}

.courseDescription{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.coursePrice{
    font-size: 40px;
    font-weight: 600;
    position: relative;
    top: 7px;
}

.courseDescription ul{
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid;
}

.cyberSecurityDescription{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
}

.courseTitle{
    font-weight: bold;
    font-size: 20px;
}

.previewVideo{
    background: url(images/previewImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 380px;
}

.previewVideo img{
    display: block;
    margin: auto;
    position: relative;
    top: 140px;
}

.coursePayment{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 20%;
    height: 535px;
    padding: 0px 20px;
    padding-bottom: 20px;
    /* position: relative;
    right: 50px; */
}

.freeTrialDeails{
    text-align: center;
}

.bold{
    font-weight: bold;
}

.cartButton{
    background-color: #46bfefce;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 10px;
    text-align: center;
}

.buy{
    background: linear-gradient(#083E54, #257B9E);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    text-align: center;
    font-size: 16px;
}

.wishListButton{

    background: url(images/heartIcon.svg);
    width: 5px;
    height: 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    padding: 20px 20px;
    text-align: center;

}

.purchaseButtons{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.courseItems{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}

.courseLinks{
    background: #17AEEB;
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
}

.courseLinks a{
    text-decoration: none;
    color: #000;
}

.cyberSecurityImage{
    background: url(images/courseImage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
}

.courseStuff{
    display: flex;
    flex-direction: row;
    padding: 5px 0;
    gap: 100px;
    justify-content: center; 
    background: #fff;
    width: 80%;
    margin: auto;
    position: relative;
    bottom: 45px;
}

.aboutCourse{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border-right: 2px solid #00000093;
    padding-right: 100px;
}

#special{
    padding-right: 0;
    border-right: none;
}

.aboutCourse img{
    width: 25px;
    height: 25px;
}

.start{
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    /* justify-content: center; */
    margin: auto;
    margin-bottom: 50px;
}

.start a{
    text-decoration: none;
    color:#17AEEB;
}

.startDate2{
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: auto;
    padding: 10px;
    justify-content: space-around;
    border-top: 2px solid #00000093;
    border-bottom: 2px solid #00000093;
}

.date{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    /* margin-left: 40px; */
}

.payButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.addToCartButton{
    background: #17AEEB;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 40px;
    text-align: center;
    font-size: 16px;
}

.addToWishList{
    text-align: center;
    margin-top: 30px;
}

.addToWishList a{
    text-decoration: none;
    color: #17AEEB;
}

.lessons{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-left: 100px;
}

#lesson0{
    font-weight: bold;
    font-size: 20px;
    position: relative;
}

#lesson1{
    background: url(images/lesson1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 24%;
    height: 150px;
}
#lesson2{
    background: url(images/lesson2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 150px;
}
#lesson3{
    background: url(images/lesson3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 150px;
}
#lesson4{
    background: url(images/lesson4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 150px;
}
#lesson5{
    background: url(images/lesson5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 25%;
    height: 150px;
}

.lessons img{
    height: 50%;
    display: block;
    margin: auto;
    position: relative;
    top: 35px;
}

.lessonDetails{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.lessonDescription{
    width: 65%;
}

.lessonTitle{
    font-weight: 600;
}

.lessonTime{
    margin-top: 40px;
    color: #00000096;
}


.availableCourses{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #fff;
    font-size: 20px;
}

.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.courses{
    height: 220px;
    width: 350px;
    border-radius: 30px;
}

.courses a p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 35px ;
}

.courses a{
    text-decoration: none;
    color: #fff;
}

.courses p{
    width: 250px
}

.courseName{
    font-weight: 700;
}

.courseLesson{
    font-weight: 500;
    width: 500px;
}

.courseDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price{
    font-weight: lighter;
}

#course4{
    background: url(images/course4.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#course5{
    background: url(images/course5.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#course6{
    background: url(images/course6.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.educatorText{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.courseEducators{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.teacher{
    width: 20%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.educators{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.requirements{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.requirements p{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.requirements ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 100px
}

.row2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.courses{
    height: 220px;
    width: 350px;
    border-radius: 30px;
}

.courses a p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 35px ;
}

.courses a{
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.courses p{
    width: 250px    
}

.courseName{
    font-weight: 700;
}

.courseLesson{
    font-weight: 500;
    width: 500px;
}

.courseDetails{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.price{
    font-weight: lighter;
}

.moreCourses{
    margin-top: 100px;
}

.moreCoursesText{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

#course4{
    background: url(images/uiux.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#course5{
    background: url(images/digitalMarketing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#course6{
    background: url(images/dataAnalysis.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.purpose{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #17AEEB;
    margin-top: 80px;
    padding: 40px;
    font-size: 20px;
    font-weight: bold;
}

.bottom{
    background-color: #083E54;
    color: #fff;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 60px 50px;
}

.bottom ul{
    list-style-type: none;
}

.bottom p{
    font-weight: bold;
}

.bottom div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer{
    background-color: #02151D;
    padding: 20px 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer div{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

footer div img{
    height: 35px;
    width: 35px;
}